{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
  <div id="login-page">
    <div class="container">



      <form class="form-login" method="post" action="{% url 'dashboard:profile' %}">
        <h2 class="form-login-heading">Password Reset Complete</h2>
        <div class="login-wrap">
          {% csrf_token %}
          {{ login_form|crispy }}

          <div class="text-center">
              <button class="btn btn-primary" type="submit">Login Now</button>
          </div>
        </div>
      </form>



    </div>
  </div>
{% endblock content %}