{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}



{% block content %}

    <div id="login-page">
    <div class="container">



      <form class="form-login" method="post" action="{% url 'dashboard:profile' %}">
        <h2 class="form-login-heading">reset password</h2>
        <div class="login-wrap">
          <p>Forgot your password? Enter email below.</p>
          {% csrf_token %}
          {{ password_reset_form|crispy }}

          <button class="btn btn-primary" type="submit">Send email</button>
          </div>
      </form>
    </div>
  </div>

{% endblock content %}

